<blockquote>
    &#8220;{{ content }}&#8221;
    <cite>&mdash;
        {{ citation }}{{#if company }}, {{ company }}{{/if }}
    </cite>
</blockquote>
<div class="read-more">
    <a href="{{#if url }}/testimonials/{{ url }}{{ else }}#{{/if }}">View full testimonial</a>
</div>
