<h2>
    <a href="{{#if url }}/testimonials/{{ url }}{{ else }}#{{/if }}">{{ citation }}</a>
</h2>
<blockquote>
    &#8220;{{ content }}&#8221;
</blockquote>
<div class="read-more">
    <a href="{{#if url }}/testimonials/{{ url }}{{ else }}#{{/if }}" aria-label="View full testimonial from {{ citation }}">View full testimonial</a>
</div>

