<div id="dialog-asset-chooser" aria-hidden="true" class="dialog asset-chooser-dialog">
  <div tabindex="-1" class="dialog-overlay" data-a11y-dialog-hide></div>
  <div role="dialog" aria-labelledby="dialog-title" class="dialog-content">
    <div role="document" class="dialog-body">      
      <div class="asset-topbar title-panel" tabindex="-1">
        <h1 id="dialog-title">{{ Lang "Select an Asset" }}</h1>
        <div class="buttons">
          <a href="#" class="button button-icon icon-left open-asset-dropzone">
            <div>
              {{ icon 'assets/upload' 12 }} 
              <span>{{ Lang "Add Asset" }}</span>
            </div>
          </a>
          <a href="#" class="button button-icon action-success icon-left select select-asset">
            <div>
              {{ icon 'core/add' 12 }} 
              <span>{{Lang "Use Selected" }}</span>
            </div>
          </a>
        </div>
      </div>
      
      <div class="upload-progress">
        <div id="preview-template" style="display: none;">
          <div class="dz-preview dz-file-preview notification notification-info" role="alert">
            <div class="dz-details">
              <div class="dz-filename">
                {{ icon 'assets/upload' 12 }} 
                {{Lang "Uploading" }} <span data-dz-name></span> (<span class="dz-size" data-dz-size></span>)
              </div>
            </div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>
          </div>
        </div>
      </div>

      <div id="asset-filter"></div>
      <form action="{{upload_url}}" id="asset-dropzone" method="post" enctype="multipart/form-data">  
        <div class="drop-invitation closed">
          <div class="drop-invitation-inner">
            <div class="drop-message">
              <h2>{{ icon 'assets/upload' 16 }} {{ Lang "Drop files anywhere to upload" }}</h2>
              <p>{{ icon 'core/box-storage' 12 }} <em class="bucket-name">default</em></p>
            </div>
          </div>
        </div>
        
        <div class="asset-field"></div>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="pagination-next-group">
            <li class="pagination-next">
              <a href="#" rel="next" title="{{ Lang "Next" }}" aria-label="Next page" class="button button-icon icon-right">
                <div>
                    {{ icon 'core/o-navigate-right' 8 }}
                    <span>{{ Lang "Load more" }}</span>
                </div>
              </a>
            </li>
          </ul>
        </nav>
      </form>
    </div>
    <button type="button" data-a11y-dialog-hide aria-label="{{ Lang "Close this dialog window" }}" class="dialog-close">
        {{ icon 'core/cancel' 24 }} 
    </button>
  </div>
</div>